  .header {
    color: #7ec5fb;
    background-image: URL("images/header-image.jpg");
    padding: 5px; 
  }  
   
  .header img {
    height: auto;
    width: 630px;
  }

  #box {
    background-color: grey;
    width: 100%;
    border: 3px solid grey;
  }
    
  #box li a {
    content: row;
    align-items: center;
    text-decoration: none;
  }

  h4 {
    color: light blue;
  }

  #box1 {  
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box2 {  
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box3 {   
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }   

  #box4 {   
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box5 {   
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box6 {
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box7 { 
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box8 {  
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }
 
  #box9 {   
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box10 {  
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box11 {   
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  #box12 {   
    padding: 15px;
    border: 3px solid red;
    margin: 10px;
  }

  .footerContainer {
    background-color: grey;
  }

  .footerContainer img {
    width: 640px;
    height: auto;
    padding: 20px;
  {
